<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	
	
	<!-- Site Title -->
	<title>data viz BUZZ</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="../static/css/linearicons.css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/magnific-popup.css">
		<link rel="stylesheet" href="../static/css/nice-select.css">					
		<link rel="stylesheet" href="../static/css/animate.min.css">
		<link rel="stylesheet" href="../static/css/owl.carousel.css">
		<link rel="stylesheet" href="../static/css/main.css">
	</head>
	<body>

		  <header id="header" id="home">
			<div class="header-top">
				  <div class="container">
					  <div class="row justify-content-end">
						  <div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
							  <ul>
								  <li>
									  <!-- Mon-Fri: 8am to 2pm -->
								  </li>
								  <li>
									  <!-- Sat-Sun: 11am to 4pm -->
								  </li>
								  <li>
									  <!-- <a href="tel:(012) 6985 236 7512">(012) 6985 236 7512</a> -->
								  </li>				  					
							  </ul>
						  </div>
					  </div>			  					
				  </div>
			</div>			  	
			<div class="container">
				<div class="row align-items-center justify-content-between d-flex">
				  <div id="logo">
					<a href="/"><img src="img/logo.png" alt="" title="" /></a>
				  </div>
				  <nav id="nav-menu-container">
					<ul class="nav-menu">
					  <li class="menu-active"><a href="/">Home</a></li>
					  <!-- <li><a href="#about">About</a></li>
					  <li><a href="#studies">Case Studies</a></li>
					  <li><a href="#stats">Why go mobile?</a></li>
					  <li><a href="#ml">Why machine learning?</a></li> -->
					  <li class="menu-has-children"><a href="">Pages</a>
						<ul>
						  <li><a href="/about">About Data Viz Buzz</a></li>
						  <li><a href="/model">Test our model!</a></li>
						  <li><a href="/casestudy/delmar">Case Study: Delmar Loop</a></li>
						  <li><a href="/casestudy/showme">Case Study: Show Me Costa Rica Coffee</a></li>
						  <li><a href="/interviews/benfierce">Interview: Ben Fierce</a></li>
						  <li><a href="/interviews/jenkaslowon">Interview: Jen Kaslowon</a></li>
						  <li><a href="/disclaimer">Disclaimer</a></li>
						  <li><a href="/model/api">API</a></li>
						</ul>
					  </li>
					</ul>
				  </nav><!-- #nav-menu-container -->		    		
				</div>
			</div>
		  </header><!-- #header -->

			<section class="generic-banner relative">	
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white">About data viz BUZZ</h2>
								<p class="text-white">Who we are, what we're doing, and how to reach us.</p>
							</div>							
						</div>
					</div>
				</div>
			</section>		
			<!-- End banner Area -->
		
		<!-- About Generic Start -->
		<div class="main-wrapper">

			<!-- Start Generic Area -->
			<section class="about-generic-area section-gap">
				<div class="container border-top-generic">
					<h3 class="about-title mb-30">Meet the Data Viz Buzz Team!</h3>
					<div class="section-top-border">
						<!-- <h3 class="mb-30">Definition</h3> -->
						<div class="row">
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">David Fournie</h4>
									<img src="https://github.com/kehull/Project-2/blob/main/headshots/david.jpg?raw=true" style='height: 60%; width: 60%; object-fit: contain'/><br><br>
									<ul class="unordered-list">
										<li>Head of Machine Learning</li>
										<li>App Deployement</li>
										<li>SQL Database Admin</li>
									</ul><br>
									<a href="https://www.linkedin.com/in/david-r-fournie/" class="genric-btn info radius">LinkedIn</a> <a href="https://github.com/dfournie471" class="genric-btn info radius">Github</a>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">Janelle Goddard</h4>
									<img src="https://github.com/kehull/Project-2/blob/main/headshots/janelle.jpeg?raw=true" style='height: 60%; width: 60%; object-fit: contain'/><br><br>
									<ul class="unordered-list">
										<li>Geospatial Data Specialist</li>
										<li>Tableau Visualizations</li>
									</ul><br>
									<a href="https://www.linkedin.com/in/janelle-goddard-b4872816b/" class="genric-btn info radius">LinkedIn</a> <a href="https://github.com/jmbnw9" class="genric-btn info radius">Github</a>
								</div>
							</div>
							<div class="col-md-4">
								<div class="single-defination">
									<h4 class="mb-20">Kelly Hull</h4>
									<img src="https://github.com/kehull/Project-2/blob/main/headshots/kelly.jpg?raw=true" style='height: 60%; width: 60%; object-fit: contain'/><br><br>
									<ul class="unordered-list">
										<li>Project Designer</li>
										<li>Data ETL and Analysis</li>
										<li>Web Scraping</li>
										<li>Researcher / Interviewer</li>
										<li>HTML/CSS Admin</li>
									</ul><br>
									<a href="https://www.linkedin.com/in/kelly-hull-0a387b116/" class="genric-btn info radius">LinkedIn</a> <a href="https://github.com/kehull" class="genric-btn info radius">Github</a>
								</div>
							</div>
						</div>
						<section class="about-generic-area section-gap">
							<div class="container border-top-generic">
								<h3 class="about-title mb-30">Citations and Credits:</h3>
								<div class="row">
									
									<div class="col-md-12">
										<div class="img-text">
											<img src="img/a2.jpg" alt="" class="img-fluid float-left mr-20 mb-20">

											<ul class="unordered-list">
												<li>Dunkin', McDonald's, and Panera Bread data scraped from <a href="https://www.menuism.com/">menuism</a>.</li>
												<li>Starbucks location data scraped from <a href="https://www.starbucks.com/store-locator">Starbucks.com's store locator.</a></li>
												<li>Inspiration for the Starbucks location scraper from <a href="https://github.com/ritvikmath/StarbucksStoreScraping/blob/master/Scraper.ipynb">ritvikmath's StarbucksStoreScraping notebook on Github</a>.</li>
												<li>Geocoding information for all addresses scraped without latitude and longitude generated via <a href="https://www.geocod.io">Geocodio</a>.</li>
												<li>Mobile app statistics on the main page of the website taken from <a href="26 Online Ordering Statistics Every Restaurateur Should Know in 2020">26 Online Ordering Statistics Every 
													Restaurateur Should Know in 2020 on Upserve.com</a> and <a href ="https://expandedramblings.com/index.php/starbucks-statistics/">Starbucks Statistics and Facts (2021) | By The Numbers on expandedramblings.com</a></li>
												<li>Machine Learning trained on <a href="https://www.kaggle.com/ihormuliar/starbucks-customer-data">Starbucks Customer Data maintained by Ihor Muliar on Kaggle.com</a>Starbucks Customer Data maintained by Ihor Muliar on Kaggle.com</li>
											</ul><br><br>

											<p>David, Janelle, and Kelly would like to pay special thanks to the contributors who made this project possible:
												<ul class="unordered-list">
													<li>Ben Fierce</li>
													<li>Jen Kaslowon / Meshuggah Coffee</li>
													<li>Dr. Boahemaa Adu-Oppong / Show Me Costa Rica Coffee / Show Me The World Project</li>
													<li>Laura Hull</li>
												</ul>
											</p>
											<p>We would also like to thank the teachers, tutors, and support team who helped us succeed in this course:
												<ul class="unordered-list">
													<li>RJ Sak</li>
													<li>Dr. Boahemaa Adu-Oppong</li>
													<li>Mandi Ginn - Franz</li>
													<li>Andrew Kemp</li>
													<li>Roger Fleenor</li>
													<li>Niharika Sachdeva</li>
													<li>Niño Yosinao</li>
												</ul>
											</p>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

			
			<!-- End Generic Start -->		

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									Data Viz Buzz is a made-up company created for a school project. While you can't hire Data Viz Buzz itself, all three of its creators are data analysts and would be happy to discuss working with you! Find our contact information <a href="">here</a>!
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			
<script src="../static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="../static/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="../static/js/easing.min.js"></script>			
			<script src="../static/js/hoverIntent.js"></script>
			<script src="../static/js/superfish.min.js"></script>	
			<script src="../static/js/jquery.ajaxchimp.min.js"></script>
			<script src="../static/js/jquery.magnific-popup.min.js"></script>	
			<script src="../static/js/owl.carousel.min.js"></script>			
			<script src="../static/js/jquery.sticky.js"></script>
			<script src="../static/js/jquery.nice-select.min.js"></script>			
			<script src="../static/js/parallax.min.js"></script>	
			<script src="../static/js/mail-script.js"></script>				
			<script src="../static/js/main.js"></script>		
		</body>
	</html>
