<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	
	
	<!-- Site Title -->
	<title>data viz BUZZ</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="../static/css/linearicons.css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/magnific-popup.css">
		<link rel="stylesheet" href="../static/css/nice-select.css">					
		<link rel="stylesheet" href="../static/css/animate.min.css">
		<link rel="stylesheet" href="../static/css/owl.carousel.css">
		<link rel="stylesheet" href="../static/css/main.css">
	</head>
	<body>

		  <header id="header" id="home">
			<div class="header-top">
				  <div class="container">
					  <div class="row justify-content-end">
						  <div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
							  <ul>
								  <li>
									  <!-- Mon-Fri: 8am to 2pm -->
								  </li>
								  <li>
									  <!-- Sat-Sun: 11am to 4pm -->
								  </li>
								  <li>
									  <!-- <a href="tel:(012) 6985 236 7512">(012) 6985 236 7512</a> -->
								  </li>				  					
							  </ul>
						  </div>
					  </div>			  					
				  </div>
			</div>			  	
			<div class="container">
				<div class="row align-items-center justify-content-between d-flex">
				  <div id="logo">
					<a href="/"><img src="img/logo.png" alt="" title="" /></a>
				  </div>
				  <nav id="nav-menu-container">
					<ul class="nav-menu">
					  <li class="menu-active"><a href="/">Home</a></li>
					  <!-- <li><a href="#about">About</a></li>
					  <li><a href="#studies">Case Studies</a></li>
					  <li><a href="#stats">Why go mobile?</a></li>
					  <li><a href="#ml">Why machine learning?</a></li> -->
					  <li class="menu-has-children"><a href="">Pages</a>
						<ul>
						  <li><a href="/about">About Data Viz Buzz</a></li>
						  <li><a href="/model">Test our model!</a></li>
						  <li><a href="/casestudy/delmar">Case Study: Delmar Loop</a></li>
						  <li><a href="/casestudy/showme">Case Study: Show Me Costa Rica Coffee</a></li>
						  <li><a href="/interviews/benfierce">Interview: Ben Fierce</a></li>
						  <li><a href="/interviews/jenkaslowon">Interview: Jen Kaslowon</a></li>
						  <li><a href="/disclaimer">Disclaimer</a></li>
						  <li><a href="/model/api">API</a></li>
						</ul>
					  </li>
					</ul>
				  </nav><!-- #nav-menu-container -->		    		
				</div>
			</div>
		  </header><!-- #header -->
<!-- start banner area -->
			<section class="generic-banner relative">	
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white">Interview with Ben Fierce</h2>
								<p class="text-white">Former manager of Kaldi's Coffee, City Garden location in St. Louis, MO</p>
							</div>							
						</div>
					</div>
				</div>
			</section>		
			<!-- End banner Area -->
		
		<!-- About Generic Start -->
		<div class="main-wrapper">
			
			<!-- Start video-sec Area -->
			<section class="video-sec-area pt-100" id="about">
				<div class="container">
					<div class="row justify-content-start align-items-center">
						<div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
							<img src="https://fastly.4sqi.net/img/general/width960/444011396_mXGgZyymrpz3mtW_ZAFNQcLgjJFmColPEdqYSDzqTyI.jpg" alt="" style='height: 100%; width: 100%; object-fit: contain'/></a>
						</div>						
						<div class="col-lg-6 video-left">
							<h6>Case Study:</h6>
							<h1>An Interview with <br>
							BEN FIERCE</h1>
							<p><span>Former manager of Kaldi's Coffee at City Garden in St. Louis, MO.</span></p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End video-sec Area -->

			<!-- Start Generic Area -->
			<section class="about-generic-area section-gap">
				<div class="container border-top-generic">
					<h3 class="about-title mb-30">What's it like running an independent coffee shop so close to big, chain stores?</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="img-text">
								<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
								<p>"There were three [Starbucks locations] within walking distance that I'm aware of. I don't know that we felt Starbucks was really in the same business as us.</p> 
									<p>Obviously we're selling coffee, they're selling coffee; we're selling food, they're selling food. But Kaldi's- they're very serious about coffee. A less kind 
									word might be that they're "coffee snobs". I don't feel like that's the kind of company [Starbucks] is. They're not really even a coffee company, they're a 
									drink company for sugar, and coffee happens to be part of what they  sell. But their coffee offerings- yes, they're concerned with them being high quality, 
									but more to the point, consistent across all of their locations. Like, when you go and order a latte at a Starbucks, it's going ot taste the same in each 
									different location.</p>
									<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
									<p>At Kaldi's, we offer a bunch of different coffees, a bunch of different blends, a bunch of different sources of coffee, all of which have 
									very distinct flavor profiles. People who wouldn't be regulars [at Starbucks] generally came back [to Kaldi's] because we did offer interesting and varied 
									coffee experiences for them to try. We'd have three or four drip coffees up at any given time, all of which would taste very different. We rotated our espresso 
									blend pretty frequently and that would  taste pretty different. And our actual drink offerings were more what you'd expect from a really traditional espresso bar, 
									as opposed to at Starbucks where you're going there for a Starbucks drink- you're not going there for a traditional latte or traditional macchiato or anything 
									like that.</p>
									<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
									<p>Like I said> I didn't really think about Starbucks on a day-to-day basis because I didn't really think we were competing with the same customers. 
									We were competing with peopel who were really, really serious about coffee. We're more of a sit-down restaurant than Starbucks. People are coming into [Kaldi's] 
									for lunch They're coming because they want an actual full meal that we'd be able to provide as opposed to something from the grab-n-go at Starbucks."</p>
							</div>
						</div>
						<div class="col-lg-12">
							<p><i><strong>"Would you consider the particular store you managed to have a third-place sort of environment?"</strong></i></p>
						</div>
						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"Yeah, and a different kind of third place. Because, like I said, it's a very pretty location. Particularly, in the summer, when we had outdoor seating available- 
								people loved to be there and sit outside and be in the park and enjoy the weather and things like that. It was different. We didn't have couches or big, overstuffed 
								chairs or anything like that; we had restaurant tables."</p>
						</div>
						<div class="col-lg-12">
							<p><i><strong>"When you worked there, did you use any sort of mobile app, online ordering, anything like that?"</strong></i></p>
						</div>
						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"Actually, I'm the perfect person to ask for that, becauseI actually implemented it. When the pandemic hit, we actually switched over to a point-of-sale system 
								called Toast, which has integrated online ordering and an online app. So, when my cafe was closed, before they laid me off when we were kind of looking for 
								things to do, my full-time job ended up being implementing our menu in the Toast app and the Toast mobile platform."</p>
						</div>
						<div class="col-lg-12">
							<p><i><strong>"So maybe this affected other locations more than yours, but did you see an effect on the type of customers or the volume of customers- anything like that?"</strong></i></p>
						</div>
						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"Volume, definitely. I don't know that the cafes that stayed open would have survived without online ordering. So that was huge, but I don't think the makeup of 
								the customer base changed, but the volume of orders dod. Like, the DeMun location- I don't have super recent data, but I know in the first couple of months after 
								they opened, they were actually doign better business on a daily basis than they had been prior to the pandimic."</p>
						</div>
						<div class="col-lg-12">
							<p><i><strong>"Oh wow!"</strong></i></p>
						</div>
						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"Yeah, and I think online ordering was a huge part of that."</p>
						</div>
						<div class="col-lg-12">
							<p><i><strong>"You've kind of answered this a bit already, but what do you think Kaldi's offers that places like Starbucks, McDonald's, Bread Co., and Dunkin' don't? 
								What would make a customer choose Kaldi's over them?"</strong></i></p>
						</div>
						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"Have you ever walked into an independent coffee shop and you sort of felt like, 'Oh, I am not hip enough to be here!'"</p>
						</div>
						<div class="col-lg-12">
							<p><i><strong>"Yeah... [coffee shop name redacted]..."</strong></i></p>
						</div>
						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"Great example. I feel like Kaldi's is trying to offer the kind of high-quality, "coffee-snob" quality coffee that you get at that type of place, but with a much, 
								much more welcoming atmostphere. They want it to be a place where somebody who was only at Starbucks before could walk in, feel very comfortable, and then be like, 
								'Oh my god, I've never tasted coffee like this before!' And I think they do a reasonably good job of that in terms of their customer service, philosophy, and 
								processes. I don't know what kind of marketing they do around that, or if they do any marketing around that. They're also a roaster/wholesaler, and that's a huge 
								segment of their business, beside their retail stores."</p>
								<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>[...]</p>
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"It's kind of weird- the winners and losers of the pandemic. Generally, coffee shops are doing okay. I was unfortunate enough that, for my location, if the office 
								workers weren't there... that kind of killed it. But the other cafes have all been doing okay."</p>
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>[...]</p>
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"I get the idea of 'Hey, if Starbucks says "I have something set up here!" then maybe this is a great location for coffee!' I would just say that you can't just 
								pop up and try to be Not-Starbucks. Like, it has to be distinct and you have to be offering something that is different from what Starbucks is offering, 
								otherwise, you know, you're not going to draw in the customers."</p>
						</div>
						<div class="col-lg-12">
							<p><i><strong>"So, if you were looking to start your own coffee shop tomorrow, what things would you want to have in order to try to make it successful?"</strong></i></p>
						</div>
						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"Well, I think the thing people don't really understand about making a successful coffee shop is that there's actually a huge amount of capital investment that 
								has to happen first. You know, if you're going to be going really high-quality coffee, if you're going to be having an espresso machine... there are actually 
								really significant water and power requirements, and not every location is good. So, you're finding a good location market-wise, that's great, but you also need 
								to find a space that is going to fulfill those pretty substantial infrastructure requirements. And if you don't have something like that? Be prepared to spend 
								many tens of thousands of dollars in order to get your coffee place up and running. </p>
								<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
								<p>But beyond that, I really think your differentiation needs to be really 
								dependent on what the market in the area that you're serving is. If the market's really high-traffic where people want their coffee and they want to go, then 
								you need to be really streamlined and focused on the drinks and maybe not gumming up the works with a lot of options- keep your menu small. If instead it's 
								supposed to be a place where people are intending to sit a while and eat, then you can have things be a bit more expansive and full-service, things like that. 
								But really, the first thing is make sure you really understand what is required to run and industrial coffee machine, or you're going to be in real trouble."</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End Generic Start -->		

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									Data Viz Buzz is a made-up company created for a school project. While you can't hire Data Viz Buzz itself, all three of its creators are data analysts and would be happy to discuss working with you! Find our contact information <a href="">here</a>!
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->	
			
<script src="../static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="../static/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="../static/js/easing.min.js"></script>			
			<script src="../static/js/hoverIntent.js"></script>
			<script src="../static/js/superfish.min.js"></script>	
			<script src="../static/js/jquery.ajaxchimp.min.js"></script>
			<script src="../static/js/jquery.magnific-popup.min.js"></script>	
			<script src="../static/js/owl.carousel.min.js"></script>			
			<script src="../static/js/jquery.sticky.js"></script>
			<script src="../static/js/jquery.nice-select.min.js"></script>			
			<script src="../static/js/parallax.min.js"></script>	
			<script src="../static/js/mail-script.js"></script>				
			<script src="../static/js/main.js"></script>	
		</body>
	</html>
