<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	
	
	<!-- Site Title -->
	<title>data viz BUZZ</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="../static/css/linearicons.css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/magnific-popup.css">
		<link rel="stylesheet" href="../static/css/nice-select.css">					
		<link rel="stylesheet" href="../static/css/animate.min.css">
		<link rel="stylesheet" href="../static/css/owl.carousel.css">
		<link rel="stylesheet" href="../static/css/main.css">
	</head>
	<body>

		  <header id="header" id="home">
			<div class="header-top">
				  <div class="container">
					  <div class="row justify-content-end">
						  <div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
							  <ul>
								  <li>
									  <!-- Mon-Fri: 8am to 2pm -->
								  </li>
								  <li>
									  <!-- Sat-Sun: 11am to 4pm -->
								  </li>
								  <li>
									  <!-- <a href="tel:(012) 6985 236 7512">(012) 6985 236 7512</a> -->
								  </li>				  					
							  </ul>
						  </div>
					  </div>			  					
				  </div>
			</div>			  	
			<div class="container">
				<div class="row align-items-center justify-content-between d-flex">
				  <div id="logo">
					<a href="/"><img src="img/logo.png" alt="" title="" /></a>
				  </div>
				  <nav id="nav-menu-container">
					<ul class="nav-menu">
					  <li class="menu-active"><a href="/">Home</a></li>
					  <!-- <li><a href="#about">About</a></li>
					  <li><a href="#studies">Case Studies</a></li>
					  <li><a href="#stats">Why go mobile?</a></li>
					  <li><a href="#ml">Why machine learning?</a></li> -->
					  <li class="menu-has-children"><a href="">Pages</a>
						<ul>
						  <li><a href="/about">About Data Viz Buzz</a></li>
						  <li><a href="/model">Test our model!</a></li>
						  <li><a href="/casestudy/delmar">Case Study: Delmar Loop</a></li>
						  <li><a href="/casestudy/showme">Case Study: Show Me Costa Rica Coffee</a></li>
						  <li><a href="/interviews/benfierce">Interview: Ben Fierce</a></li>
						  <li><a href="/interviews/jenkaslowon">Interview: Jen Kaslowon</a></li>
						  <li><a href="/disclaimer">Disclaimer</a></li>
						  <li><a href="/model/api">API</a></li>
						</ul>
					  </li>
					</ul>
				  </nav><!-- #nav-menu-container -->		    		
				</div>
			</div>
		  </header><!-- #header -->

<!-- start banner area -->
<section class="generic-banner relative">	
	<div class="container">
		<div class="row height align-items-center justify-content-center">
			<div class="col-lg-10">
				<div class="generic-banner-content">
					<h2 class="text-white">Case Study</h2>
					<p class="text-white">Delmar Loop</p>
				</div>							
			</div>
		</div>
	</div>
</section>		
<!-- End banner Area -->
		
		<!-- About Generic Start -->
		<div class="main-wrapper">
			
			<!-- Start video-sec Area -->
			<section class="video-sec-area pt-100" id="about">
				<div class="container">
					<div class="row justify-content-start align-items-center">
						<div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
							<img src="https://bloximages.newyork1.vip.townnews.com/stltoday.com/content/tncms/assets/v3/editorial/e/38/e381c427-57d1-52a6-9726-cfab4c1899a1/5f6e457b1c740.image.jpg"  alt="" style='height: 100%; width: 100%; object-fit: contain'/>
						</div>						
						<div class="col-lg-6 video-left">
							<h6>Case Study:</h6>
							<h1>Delmar Loop <br>
							St. Louis, MO</h1>
							
						</div>
					</div>
				</div>	
			</section>
			<!-- End video-sec Area -->

			<!-- Start Generic Area -->
			<section class="about-generic-area section-gap">
				<div class="container border-top-generic">
					<div class="section-top-border">
						<h3 class="mb-30">Delmar Loop was hit hard by COVID-19.</h3>
						<div class="row">
							<div class="col-md-5">
								<img src="https://github.com/kehull/Project-3/blob/main/images/delmar.png?raw=true" alt="" class="img-fluid">
							</div>
							<div class="col-md-7 mt-sm-20">
								<p>Long before COVID-19 even existed, the street was plagued with restaurants and businesses shutting</p>
								<p>A new mini golf course project was abandoned. Restaurants such as Blue Box Pizza, The Melting Pot, Hopcat, Tavolo V, and Guerilla Street Food all closed in 2020.
									Peacock Diner drastically reduced their hours. Blueberry Hill shut down entirely for several months, as did Moonrise Hotel and Pin-Up Bowl.</p>
								<p>Delmar Loop is also home to a number of small coffee shops and cafes that seemed like they might not survive pandemic shut-downs, especially with the college dorms surrounding
									the area sitting empty.
								But, over one year later, ALL of the little cafes are still
									thriving:</p>
									<ul class="unordered-list">
										<li>Blueprint Coffee</li>
										<li>Meshuggah Coffee</li>
										<li>Fun Cafe</li>
										<li>Kung Fu Tea</li>
										<li>Snow Factory Roll Ice Cream</li>
										<li>froYo Frozen Yogurt</li>
										<li>Ben & Jerry’s</li>
										<li>Corner 17</li>
										<li>St. Louis Bubble Tea</li>
										<li>Insomnia Cookies</li>
										<li>The Baked Bear</li>
										<li>Starbucks</li>
									</ul>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="img-text">
										<!-- <img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20"> -->
										<p>This case study is pure anecdote, of course, but it proves that even in times of hardship, people who can afford coffee and desserts will seek out those small comforts
											to get through the day. Furthermore, it demonstrates an important point about choosing a location for a cafe: <strong>local competition is a good thing!</strong></p>
											<!-- <img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20"> -->
											<p>If there's a Starbucks nearby, you can bet that there's a big market for a cafe in that area- bigger than the Starbucks alone can handle. Don't believe me? Think about
											the last time you tried to order at a Starbucks drive-thru at rush hour. Now think about all your friends who drink coffee, tea, smoothies, and enjoy baked goods, but who
											stick their nose up at the idea of setting foot in a chain coffee shop, even though Starbucks is the nearest cafe? <strong>Your market is right under Starbuck's nose.</strong>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Generic Start -->		

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									Data Viz Buzz is a made-up company created for a school project. While you can't hire Data Viz Buzz itself, all three of its creators are data analysts and would be happy to discuss working with you! Find our contact information <a href="">here</a>!
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->	
			
<script src="../static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="../static/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="../static/js/easing.min.js"></script>			
			<script src="../static/js/hoverIntent.js"></script>
			<script src="../static/js/superfish.min.js"></script>	
			<script src="../static/js/jquery.ajaxchimp.min.js"></script>
			<script src="../static/js/jquery.magnific-popup.min.js"></script>	
			<script src="../static/js/owl.carousel.min.js"></script>			
			<script src="../static/js/jquery.sticky.js"></script>
			<script src="../static/js/jquery.nice-select.min.js"></script>			
			<script src="../static/js/parallax.min.js"></script>	
			<script src="../static/js/mail-script.js"></script>				
			<script src="../static/js/main.js"></script>	
		</body>
	</html>
