<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	
	
	<!-- Site Title -->
	<title>data viz BUZZ</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="../static/css/linearicons.css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/magnific-popup.css">
		<link rel="stylesheet" href="../static/css/nice-select.css">					
		<link rel="stylesheet" href="../static/css/animate.min.css">
		<link rel="stylesheet" href="../static/css/owl.carousel.css">
		<link rel="stylesheet" href="../static/css/main.css">
	</head>
	<body>

		  <header id="header" id="home">
			<div class="header-top">
				  <div class="container">
					  <div class="row justify-content-end">
						  <div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
							  <ul>
								  <li>
									  <!-- Mon-Fri: 8am to 2pm -->
								  </li>
								  <li>
									  <!-- Sat-Sun: 11am to 4pm -->
								  </li>
								  <li>
									  <!-- <a href="tel:(012) 6985 236 7512">(012) 6985 236 7512</a> -->
								  </li>				  					
							  </ul>
						  </div>
					  </div>			  					
				  </div>
			</div>			  	
			<div class="container">
				<div class="row align-items-center justify-content-between d-flex">
				  <div id="logo">
					<a href="/"><img src="img/logo.png" alt="" title="" /></a>
				  </div>
				  <nav id="nav-menu-container">
					<ul class="nav-menu">
					  <li class="menu-active"><a href="/">Home</a></li>
					  <!-- <li><a href="#about">About</a></li>
					  <li><a href="#studies">Case Studies</a></li>
					  <li><a href="#stats">Why go mobile?</a></li>
					  <li><a href="#ml">Why machine learning?</a></li> -->
					  <li class="menu-has-children"><a href="">Pages</a>
						<ul>
						  <li><a href="/about">About Data Viz Buzz</a></li>
						  <li><a href="/model">Test our model!</a></li>
						  <li><a href="/casestudy/delmar">Case Study: Delmar Loop</a></li>
						  <li><a href="/casestudy/showme">Case Study: Show Me Costa Rica Coffee</a></li>
						  <li><a href="/interviews/benfierce">Interview: Ben Fierce</a></li>
						  <li><a href="/interviews/jenkaslowon">Interview: Jen Kaslowon</a></li>
						  <li><a href="/disclaimer">Disclaimer</a></li>
						  <li><a href="/model/api">API</a></li>
						</ul>
					  </li>
					</ul>
				  </nav><!-- #nav-menu-container -->		    		
				</div>
			</div>
		  </header><!-- #header -->

			<section class="generic-banner relative">	
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white">Interview with Jen Kaslowon</h2>
								<p class="text-white">Owner of Meshuggah Coffee on Delmar Loop in St. Louis, MO</p>
							</div>							
						</div>
					</div>
				</div>
			</section>		
			<!-- End banner Area -->
		
		<!-- About Generic Start -->
		<div class="main-wrapper">
			
			<!-- Start video-sec Area -->
			<section class="video-sec-area pt-100" id="about">
				<div class="container">
					<div class="row justify-content-start align-items-center">
						<div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
							<img src="https://media1.fdncms.com/riverfronttimes/imager/u/original/3116493/kaslow.jpg" alt="" style='height: 100%; width: 100%; object-fit: contain'/></a>
						</div>						
						<div class="col-lg-6 video-left">
							<h6>Case Study:</h6>
							<h1>An Interview with <br>
							JEN KASLOWON</h1>
							<p><span>Owner of Meshuggah Coffee on Delmar Loop</span></p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End video-sec Area -->

			<!-- Start Generic Area -->
			<section class="about-generic-area section-gap">
				<div class="container border-top-generic">
					<h3 class="about-title mb-30">What's it like running an independent coffee shop so close to big, chain stores?</h3>
					<div class="row">
						<div class="col-lg-12">
							<p><i><strong>"I feel like there's almost no better case study of this idea that shops being close to each other isn't necessarily being bad for business than the shops on 
									Delmar Loop- I mean with Blueprint and Meshuggah and Starbucks, and then all these bubble tea places that I couldn't even name them all- are there any 
									specific challenges that you face as a shop that's so close to so many other shops?"</strong></i></p>
						</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"I 100% agree with you. The reason I got into the coffee- why I bought Meshuggah- I bought it for the community. I kind of went into this without thinking about 
								"the business", if that makes sense. I had a business before, so I do like to geek out on business and marketing and like all that stuff- like I could totally 
								talk about stuff like that all day- but I really, I was a regular Meshuggah, and [the former owner] told me one day when I was on my way to work, it was easier 
								to sell it. I was like, "Oh my god, who's gonna buy this?" So I really bought it with the intention of just keeping it alive."</p>
							</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"And then, maybe like three or four months into it, people were like, "You know Blueprint is opening and that's probably why [he] sold it to you." It didn't even 
								occur to me that there was this third-wave, aspriational type of place... it was definitely the way coffee was moving. I think in the back of [the former owner]'s 
								mind, he was really thinking about this competition, and the trolley construction, like, this could be the end. I wasn't really thinking like that.</p>
							</div>

						<p>[...]</p>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"After a few months of running it, I analyzed what was on the street, and because I do love to geek out about stuff like that, I looked at Blueprint and what their 
								expertise is- they're goig to be thei third-wave, sort of "hipster" place, where they do coffee profiling and cupping and all that. I just wanted to keep thinks at
								 Meshuggah the exafct same. Like, I wanted the same cluture, the same homey feel, and I did analyze them and like- I can't really compete with them in that way, nor 
								 do I want to, because I don't have that kind of coffee expertise, so I just kept the coffee the same and didn't think of [Blueprint] as competition in that regard."</p>
								</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"Starbucks I do think of as competition, because I don't think their coffee fits into that same category [as Blueprint]. At the time, Starbucks was just kind of sad 
								and lonely, so I didn't worry about them as much. They've since gone through a renovation. And I do think there are Starbucks lovers who will still be Starbucks lovers. 
								And like, [Meshuggah] is closed on Mondays, so on Mondays, I'll go to Starbucks! People [from Meshuggah] will see me [at Starbucks] and be like, "Oh, sorry [for going 
								to Starbucks]!", and I'm like, no, don't apologize!"</p>
							</div>

						<div class="col-lg-12">
							<p><i><strong>"Same, I shop at every cafe on The Loop."</strong></i></p>
						</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"Yeah! And I like when I see other coffee shops doing well! I'll scroll down Instagram and if I see a picture, I'll be like "Great! Rise [another local St. Louis coffee shop] is doing a good job there!" 
								So there's an underlying competition that people have... I just don't think of it like that. If everybody's enjoying themselves and the community is there, then that's 
								the successful part. Though, I do really like to cook, so I analyzed what was missing on [Delmar Loop], and as far as competition goes, I realzied we didn't have a breakfast 
								place. I analyzed [the menu that came with the shop when I purchased it]- it had like, anything you can make out of the ingredients on hand. Ten different flatbreads, 
								falafel, all this stuff. I was like, wait. There were three pizza places at the time, there are four middle eastern places, we don't need [to copy] that. So I analyzed 
								it and made it very breakfast heavy, and I think that was super helpful in setting us apart."</p>
							</div>

						<div class="col-lg-12">
							<p><i><strong>"So you've already kind of answered this a bit, but do you think it's that homey feel and tailored menu that sets you apart from Starbucks?</strong></i></p>
						</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"For me, a coffee shop is about community, and people recognizing you and you recognizing the people you see there, and about feeling a sense of it being your space. I don't 
								think people go to Starbucks for that reason- I think they go for caffeine. If [the community feeling] happens at a Starbucks, that's great. If there's somebody who works 
								there for a long time and they learn your name, I think it's a secondary thing, whereas I think for us the community is first."</p>
							</div>

						<div class="col-lg-12">
							<p><i><strong>"So would you pretty firmly qualify Meshuggah as a third-place type of environment?"</strong></i></p>
						</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"Yeah, absolutely. When I bought it, everyone was like, "Don't you think you should set a maximum time at the tables? Charge for internet?" and I'm like, no, that's exactly the 
								opposite of what I wanted to do.</p>
							</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"It's been amazing to me, it just works out. The flow is right. Sometimes every now and then on a Saturday, people will take a table that could seat six people for like six 
								hours and I'm like... "Oh, when are they going to leave?", but really, it's been fine. So yeah, I want people to feel [at home].</p>
							</div>

						<div class="col-lg-12">
							<p><i><strong>"So, I don't really remember because I didn't really get into mobile ordering until the pandemic, but did you have a mobile ordering 
								system in place before that? Or is that new?"</strong></i></p>
							</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"No, it's been insane. [In the past], I didn't even answer the phone- I don't know what our phone number is. I'm never answering the phone because I don't want to be a take-out 
								place because it doesn't feel like community. [...] So I was actually on vacation, and [the Meshuggah] staff called me and said "Do you know that places are closing?" And I'm like, 
								what are you talking about? It really felt like some apocolyptic movie night- we all experienced that. So I'm like, okay, take the inventory and go home, and we shut down from 
								that day for like four months.</p>
							</div>

						<div class="col-lg-12">
							<p><i><strong>"I actually walked by on that day- I saw everyone sitting at the long table with all the inventory out on the table, and I was just like, 'Nooooooo!'"</strong></i></p>
						</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"It was the most bizarre thing I've ever seen. Then Square caught me [...], they said, "We're offering free online menus and takeout, so they helped me- it was the only way to 
								survive- so they helped me construct it. It was really intuitive. They helped me construct that whole menu that's online right now. So we quickly just switched gears into that, 
								and that was the only way we could have stayed in business. So the challenge is going to be, onace we open up, that takes up so much space to prepare to-go orders- I'm not sure 
								how to meld those two business models."</p>
							</div>

						<div class="col-lg-12">
							<p><i><strong>"How has mobile ordering affected the type or volume of customers you're getting?"</strong></i></p>
						</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"It's definitely increased our business- probably ten times what it would be without the mobile app during all of this. And [Meshuggah] is a way people can socialize off campus with 
								the big outdoor seating area, so I'm thinking that has a bit to do with it too. Also, I think people are trying to be supportive. So with all that in play, our business is booming 
								right now."</p>
							</div>

						<div class="col-lg-12">
							<p><i><strong>"So if you were going ot open a brand-new coffee shop tomorrow, what are some of the things that you would take into consideration?"</strong></i></p>
						</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"I'd think about the physical space, and foot traffic, and who my customers are, how many employees I'd need. I mean, there's really only a couple variables in running a coffee shop- 
								your cost of wages, your rent, cost of goods, your product- so there isn't really that much to geek out on. Because I'm not in this for the money and it has been successful, I would 
								just, again, look for the community. I would do the same thing I did before, just look for whether it's a community I wanted to be a part of, and whether the community could sustain 
								the product."</p>
							</div>

						<p>[...]</p>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"My one big obstacle is that mobile ordering has gotten in the way of the community feel, and it's super frustrating to me. If you ask me what my biggest problem is with mobile ordering- 
								while it's saved me, it also but a huge problem in my path. An order comes in, you have ten online orders, and then one person comes in and it looks like nobody's sitting there, but 
								there's really no way to organize that. I mean, maybe a bigger kitchen could have two cooks, but I don't [have a bigger kitchen], so for me it presents a huge obstacle for how to keep 
								the community alive while having a big mobile app presence. You know, that demand to get things out the door. They want their food, you can't just ignore it, you know? The timing is 
								super tricky."</p>
							</div>

						<p>[...]</p>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"I don't know if you've been coming in over the weekends recently, but it's super crowded, so I try to set people's expectations. It's almost like you have to train the customers a 
								little bit. It's almost like- if you've ever been to Half & Half [a local breakfast/brunch sit-down restaurant]- you'll have a line out the door and be waiting an hour to sit down. 
								I try to expkain to people that you don't have to wait to order, but you do have to wait to get your food- it's just a different way. I'm trying to set that expectation."</p>
							</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"I do feel like- I try not to compete with [other cafes on the street], but I do feel a slight competition with staffing. I do feel a little bit jealous every now and then. 
								I have a policy that I would never ever ever steal anybody or ask anyone to come from another place. [...] There's competition for good employees."</p>
							</div>

						<div class="col-lg-12">
							<p><i><strong>"So once things calm down and indoor service can resume, are you thinking you'll continue using the app? Are you looking to move away from that model 
								since you've got the student population to rely on?"</strong></i></p>
							</div>

						<div class="col-lg-12">
							<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
							<p>"I would love to keep it in place, because I see how happy it makes everybody. The one need I couldn't meet was that whole Starbucks in-and-out kind of thing, so I think 
								for people in the morning on their way to work, it's super important to have that mobile app, because they order their coffee and they can leave their house and grab it. 
								I'd lose lots of customers for sure [if I dropped the app]. So I really like that I can provide that. But I don't know the answer, to be honest. I've played around with redesigning- 
								like, shutting down and redesigning the cafe, because right now it's just so small, so I've considered designing a place where we can accomodate both orders and split them. [...] 
								To keep the mobile app open, I will probably have to redesign the kitchen to accomodate it. I just think it would be impossible otherwise."</p>
							</div>
						</div>
					</div>
				</div>
			</section>
								<!-- End Generic Start -->		

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									Data Viz Buzz is a made-up company created for a school project. While you can't hire Data Viz Buzz itself, all three of its creators are data analysts and would be happy to discuss working with you! Find our contact information <a href="">here</a>!
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			
<script src="../static/js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="../static/js/vendor/bootstrap.min.js"></script>			
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  <script src="../static/js/easing.min.js"></script>			
<script src="../static/js/hoverIntent.js"></script>
<script src="../static/js/superfish.min.js"></script>	
<script src="../static/js/jquery.ajaxchimp.min.js"></script>
<script src="../static/js/jquery.magnific-popup.min.js"></script>	
<script src="../static/js/owl.carousel.min.js"></script>			
<script src="../static/js/jquery.sticky.js"></script>
<script src="../static/js/jquery.nice-select.min.js"></script>			
<script src="../static/js/parallax.min.js"></script>	
<script src="../static/js/mail-script.js"></script>				
<script src="../static/js/main.js"></script>	
		</body>
	</html>
