<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../static/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	
	
	<!-- Site Title -->
	<title>data viz BUZZ</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="../static/css/linearicons.css">
		<link rel="stylesheet" href="../static/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/css/magnific-popup.css">
		<link rel="stylesheet" href="../static/css/nice-select.css">					
		<link rel="stylesheet" href="../static/css/animate.min.css">
		<link rel="stylesheet" href="../static/css/owl.carousel.css">
		<link rel="stylesheet" href="../static/css/main.css">
	</head>
	<body>

		  <header id="header" id="home">
			<div class="header-top">
				  <div class="container">
					  <div class="row justify-content-end">
						  <div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
							  <ul>
								  <li>
									  <!-- Mon-Fri: 8am to 2pm -->
								  </li>
								  <li>
									  <!-- Sat-Sun: 11am to 4pm -->
								  </li>
								  <li>
									  <!-- <a href="tel:(012) 6985 236 7512">(012) 6985 236 7512</a> -->
								  </li>				  					
							  </ul>
						  </div>
					  </div>			  					
				  </div>
			</div>			  	
			<div class="container">
				<div class="row align-items-center justify-content-between d-flex">
				  <div id="logo">
					<a href="/"><img src="img/logo.png" alt="" title="" /></a>
				  </div>
				  <nav id="nav-menu-container">
					<ul class="nav-menu">
					  <li class="menu-active"><a href="/">Home</a></li>
					  <!-- <li><a href="#about">About</a></li>
					  <li><a href="#studies">Case Studies</a></li>
					  <li><a href="#stats">Why go mobile?</a></li>
					  <li><a href="#ml">Why machine learning?</a></li> -->
					  <li class="menu-has-children"><a href="">Pages</a>
						<ul>
						  <li><a href="/about">About Data Viz Buzz</a></li>
						  <li><a href="/model">Test our model!</a></li>
						  <li><a href="/casestudy/delmar">Case Study: Delmar Loop</a></li>
						  <li><a href="/casestudy/showme">Case Study: Show Me Costa Rica Coffee</a></li>
						  <li><a href="/interviews/benfierce">Interview: Ben Fierce</a></li>
						  <li><a href="/interviews/jenkaslowon">Interview: Jen Kaslowon</a></li>
						  <li><a href="/disclaimer">Disclaimer</a></li>
						  <li><a href="/model/api">API</a></li>
						</ul>
					  </li>
					</ul>
				  </nav><!-- #nav-menu-container -->		    		
				</div>
			</div>
		  </header><!-- #header -->

			<section class="generic-banner relative">	
				<div class="container">
					<div class="row height align-items-center justify-content-center">
						<div class="col-lg-10">
							<div class="generic-banner-content">
								<h2 class="text-white">Case Study: Show Me Costa Rica Coffee</h2>
								<p class="text-white">Investigating potential locations for this company to open their first storefront</p>
							</div>							
						</div>
					</div>
				</div>
			</section>		
			<!-- End banner Area -->
		
		<!-- About Generic Start -->
		<div class="main-wrapper">
			
			<!-- Start video-sec Area -->
			<section class="video-sec-area pt-100" id="about">
				<div class="container">
					<div class="row justify-content-start align-items-center">
						<div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
							<img src="https://static.wixstatic.com/media/bdcdce_14be0d13e4564b4c8ae3d06d1985603f~mv2_d_1600_1200_s_2.jpg/v1/fill/w_670,h_503,fp_0.50_0.50,q_90/bdcdce_14be0d13e4564b4c8ae3d06d1985603f~mv2_d_1600_1200_s_2.webp" alt="" style='height: 100%; width: 100%; object-fit: contain'/>
						</div>						
						<div class="col-lg-6 video-left">
							<h6>Case Study</h6>
							<h1>Show Me <br>
							Costa Rica Coffee</h1>
							<p><span>Scouting locations for an established coffee brand looking to open their first brick-and-mortar store.</span></p>
							
						</div>
					</div>
				</div>	
			</section>
			<!-- End video-sec Area -->

			<!-- Start Generic Area -->
			<section class="about-generic-area section-gap">
				<div class="container border-top-generic">
					<h3 class="about-title mb-30">Who is Show Me Costa Rica Coffee?</h3>


					<div class="section-top-border">
						<!-- <h3 class="mb-30">Left Aligned</h3> -->
						<div class="row">
							<div class="col-md-3">
								<img src="https://static.wixstatic.com/media/bdcdce_e9d799a5005940b385da066ee0d8e546~mv2.jpg/v1/fill/w_670,h_503,fp_0.50_0.50,q_90/bdcdce_e9d799a5005940b385da066ee0d8e546~mv2.webp" alt="" class="img-fluid">
							</div>
							<div class="col-md-9 mt-sm-20">
								<p>The Show Me Costa Rica Project is a non-profit organization founded in St. Louis, MO. They focus on selling premium coffee from Costa Rican farms, 
									as well as selling Pura Vida merchandise in order to bring equity in for underprivileged communities. The funds are used to give high school students 
									the opportunity to travel internationally to continue their learning. Currently, the Show Me Costa Rica Project has been selling their products in the Tower 
									Grove area and hoping to open a permanent location in a desirable area. </p>
							</div>
						</div>
					</div>

					<div class="section-top-border text-right">
						<h3 class="mb-30">So where does Costa Rica fit in St. Louis?</h3>
						<div class="row">
							<div class="col-md-6">
								<p class="text-right">After reviewing our map, it might seem like the best areas for a new coffee location would be the ones circled in this map- These include areas such as 
									Jennings (which has no current Starbucks or major coffee chain location) or the St. Charles area (which is lacking in Starbucks stores), but overwhelmed 
									with McDonald’s. However, a lack of "third-place" type chain shops actually tends to indicate a risky market, or even a dud market, rather than an area of untapped
								potential for a new location.</p>
							</div>
							<div class="col-md-6">
								<img src="https://github.com/kehull/Project-3/blob/main/images/Potential%20Starbucks%20Locations.jpg?raw=true  alt="" class="img-fluid">
							</div>
						</div>
					</div>

					<div class="section-top-border">
						<!-- <h3 class="mb-30">Left Aligned</h3> -->
					<div class="row">
						<div class="col-md-6">
							<!-- <div class="img-text"> -->
								<img src="https://github.com/kehull/Project-3/blob/main/images/maplewood.png?raw=true"  alt="" class="img-fluid">
							</div>
							<div class="col-md-6 mt-sm-20">
								<p>However, we posit that one of the best potential locations for a new coffee house would be the area near the intersection of Historic 66 and Watson. 
									This area is in close proximity to Tower Grove, where Show Me Costa Rica Coffee already have an established following. Surrounding businesses such as Starbucks, Panera
									Bread, and IHOP show a strong cafe demographic, and nearby local businesses like Blueprint Coffee, Ted Drewes, and Donut Drive-In indicate a thriving scene of supportive
									customers. While the chain stores provide "third-place" type environments and the local shops offer high-quality to-go options, there doesn't appear to be a local shop
									that provides both a high-quality menu AND a homey cafe atmosphere where a person could spend a few hours working on their laptop or chatting with a friend. While there 
								certainly are other areas in St. Louis where a new coffee shop could thrive, we would start by looking for locations here.</p>
							</div>
						</div>
						
					</div>
				</div>
			</section>
			<!-- End Generic Start -->		

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									Data Viz Buzz is a made-up company created for a school project. While you can't hire Data Viz Buzz itself, all three of its creators are data analysts and would be happy to discuss working with you! Find our contact information <a href="">here</a>!
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->	
			
<script src="../static/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="../static/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="../static/js/easing.min.js"></script>			
			<script src="../static/js/hoverIntent.js"></script>
			<script src="../static/js/superfish.min.js"></script>	
			<script src="../static/js/jquery.ajaxchimp.min.js"></script>
			<script src="../static/js/jquery.magnific-popup.min.js"></script>	
			<script src="../static/js/owl.carousel.min.js"></script>			
			<script src="../static/js/jquery.sticky.js"></script>
			<script src="../static/js/jquery.nice-select.min.js"></script>			
			<script src="../static/js/parallax.min.js"></script>	
			<script src="../static/js/mail-script.js"></script>				
			<script src="../static/js/main.js"></script>	
		</body>
	</html>
